@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next,
main {
  width: 100vw;
  height: 100vh;
  min-width: 350px;
}
textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
